@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400&display=swap");

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    min-height: 675px;
    /*background-color: #F4F5FF;*/
    background-image: url('https://i.postimg.cc/QtPJHpdZ/background.png');
    background-size: cover;
}
p {
    width: 100%;
    left: 0px;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: top;
    max-width: 550px;
    color: #727586;
    margin: 0px;
}
a:hover {
    cursor: pointer;
    color: #673DE6;
    text-decoration: underline;
}
h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: center;
    margin: 8px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}
.ic-launch  {
    margin-left: 10.5px;
    width: 21px !important;
    height: 20px !important;
}
.link-container {
    margin-top: 32px;
    margin-bottom: 32px;
}
.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #673DE6;
    margin-top: 8px;
    text-decoration: none;
}
.main-image {
    width: 100%;
    max-width: 650px;
    max-height: 406px;
    height: auto;
}


.navbar {
    background-color: rgba(0, 0, 0, 0.64); /* Semi-transparent background color */
    border-radius: 25px; /* Rounded borders */
    padding: 20px 20px; /* Padding to give some space inside the navbar */
    margin-top: 60px;
    display:flex;
    text-align: center;
}

.navbar-list {
    list-style-type: none; /* Remove default list styles */
    margin: 0;
    padding: 0;
}

.navbar-item {
    display: inline; /* Display list items horizontally */
    margin-right: 50px; /* Spacing between list items */
}

.navbar-link {
    text-decoration: none; /* Remove underline from links */
    color: #D35400; /* Text color */
    font-family: 'Oxanium', sans-serif;
    font-weight: 300;
    font-size: 25px;
    position: relative; /* Ensure proper positioning of the pseudo-element */
}


/* CSS for hover effect */
.navbar-link:hover {
    color: white; /* Text color when hovered */
    font-weight: bold;
}

/* CSS for active (clicked) state */
.navbar-link.clicked {
    color: white; /* Text color when clicked */
    font-weight: bold;
}

/* Pseudo-element for hover effect */
/* .navbar-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1; //Ensure it stays behind the text
    transition: background-color 0.3s; //Add transition for smooth effect
} */

/* CSS for hover effect on pseudo-element */
/* .navbar-link:hover::before {
    background-color: #d35400;
    
} */



@media screen and (max-width: 580px) and (min-width: 0px) {
    h1, p, .link-container {
        width: 80%;
    }
}
@media screen and (min-width: 650px) and (min-height: 0px) and (max-height: 750px) {
    .link-container {
        margin-top: 12px;
    }
    h1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}